<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="min-h-screen bg-gray-100 flex items-center justify-center"
>
  <div class="w-full max-w-sm">
    <!-- User -->
    <div class="flex items-center mb-5">
      <label class="w-24 text-sm text-gray-700"> User </label>
      <div>
        <input
          type="text"
          formControlName="name"
          class="w-full border border-gray-400 bg-white px-3 py-2 text-sm outline-none"
        />
        @if (loginForm.get("name")?.touched && loginForm.get("name")?.invalid) {
          <p class="text-red-500 text-xs mt-1">กรุณากรอกชื่อผู้ใช้</p>
        }
      </div>
    </div>

    <!-- Password -->
    <div class="flex items-center mb-6">
      <label class="w-24 text-sm text-gray-700"> Password </label>
      <div>
        <input
          type="password"
          formControlName="password"
          class="w-full border border-gray-400 bg-white px-3 py-2 text-sm outline-none"
        />
        @if (
          loginForm.get("password")?.touched &&
          loginForm.get("password")?.invalid
        ) {
          <p class="text-red-500 text-xs mt-1">กรุณากรอกรหัสผ่าน</p>
        }
      </div>
    </div>

    <!-- Button -->
    <div class="flex justify-center mb-4">
      <button
        type="submit"
        class="border border-gray-400 bg-gray-200 px-5 py-2 text-sm rounded hover:bg-gray-300 transition"
      >
        ลงชื่อเข้าใช้งาน
      </button>
    </div>

    <!-- Register -->
    <div class="flex justify-center">
      <a
        href="register"
        class="text-blue-600 underline text-sm hover:text-blue-800"
      >
        สมัครสมาชิก
      </a>
    </div>
  </div>
</form>
